<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .btn {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #45a049;
    }

    .detail {
      margin-bottom: 10px;
      width: 50vw;
      resize: vertical;
      
    }

    .signup-link {
      text-align: center;
      margin-top: 10px;
    }

    .signup-link a {
      color: #4caf50;
      text-decoration: none;
    }

    .signup-link a:hover {
      text-decoration: underline;
    }

    .error {
      text-align: center;
      margin-top: 5px;
      color: #f1703d;
      text-decoration: none;
      font-size: small;
    }

    /* Style for the map container */
    #mapContainer {
      width: 100%;
      height: 400px;
      margin-bottom: 20px;
      
    }

    /* Style for post IDs */
    .post-ids p {
      display: inline-block;
      margin-right: 10px;
    }
  </style>


  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">

    <!-- Post form -->
    <form action="/post" method="post">
      <div id="mapContainer"></div>
      <br>

      <input type="hidden" name="location" id="locationInput" />

      <textarea required type="text" name="caption" placeholder="Post Caption" class="detail" ></textarea>
      <br>

      <input type="submit" class="btn int" value="Post" />
    </form>

    <div class="post-ids">
      <h4>
        <%userPosts.forEach(post => { %>
          <p><%=post._id%></p>
        <%})%>
      </h4>
    </div>
  </div>


  <script>
    var platform = new H.service.Platform({ apikey: 'API_KEY(not needed for basic ops)' });
    var defaultLayers = platform.createDefaultLayers();
    var map = new H.Map(
      document.getElementById('mapContainer'),
      defaultLayers.vector.normal.map,
      { center: { lat: 26.364311, lng: 79.780452 }, zoom: 3.5 }
    );
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    map.addEventListener('tap', function (e) {
      var coord = map.screenToGeo(e.currentPointer.viewportX, e.currentPointer.viewportY);
      document.getElementById('locationInput').value = JSON.stringify(coord);
    });
  </script>
</body>
</html>
